.input {
  color: var(--soot);
  background-color: var(--grey);
  padding: 1.25rem 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid;
  border-color: var(--grey);
  outline: none;

  &:focus {
    border-color: var(--soot);
  }

  &::placeholder {
    color: var(--grey_dark);
  }
}

.error {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  color: var(--primary);

  &:focus {
    border-color: var(--primary);
  }

  &::placeholder {
    color: var(--primary);
  }
}